@font-face{
    font-family: "dirooz";
    src: url(../font/Dirooz.ttf),url(../font/Dirooz.woff);
}
body{
    padding: 0;
    margin: 0;
    direction: rtl;
    font-family: "dirooz";
}
header{
    width: 100%;
    height: 100px;
    position: relative;
    
}
.logo{
    width: 20%;
    position: absolute;
    right: 150px;
}

.logo img{
    width: 100%;
    height: 80px;
}
.tel{
    position: absolute;
    left: 180px;
    top: 3px;
    bottom: 5px;
    font-size: 19px;
    
}
.tel p{
    color:#02646f ;
    
   
}
.tel span{
    color:#e4a428 ;
    padding: 0.2em 0.5em ;
    
    
}
.menu{
    width: 100%;
    height: 60px;
    background-color:#02646f ;
    position: sticky;
    top: 0;
    z-index: 1000;
    

}
.menu nav{
width: 70%;
float: right;
margin-right: 100px;
}
.menu ul li{
    display: inline;
    padding: 0.5em;
    margin: 0.5%;
    
}

.menu ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    
    padding: 1em 0.2em ;
   
}
.menu ul li a:hover{
    border-bottom: 2px solid white;
 transition: all 300ms;
 cursor: pointer;
 
}
.menu div{
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}
.menu div a{
    color: white;
    padding: 1em;
}
.background{
    width: 100%;
    height: 650px;
    background-image:url("../image/back-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
    position: relative;
}
.background h1{
    
    color: white;
    font-size: 45px;
    position: absolute;
    top: 40px;
    right: 120px;
    
    
}
.background p{
color: white;
font-size: 24px;
position: absolute;
right: 120px;
top: 300px;
}
.background a{
color: white;
background-color: transparent;
border: 1px solid rgb(123, 204, 160) ;
border-radius: 30px;
padding: 0.5em 1.8em;
font-size: 20px;
position: absolute;
top:500px ;
right: 300px;
text-decoration: none;
}
.title{
    width: 100%;
    height: 250px;
}

.title .one{
    float: right;
    width: 50%;
    
    height: 250px;
background-color: turquoise;
color: white;
font-size: 20px;
}
.title .two{
   float: right;
    width: 50%;
    
height: 250px;
background-color:#02646f ;
color: white;
font-size: 20px;
}
.bside{
    clear: both;
    width: 100%;
    height: 600px;
    
   

}
.bside .image{
    width: 20%;
    height: 500px;
    float: right;
    margin-top: 100px;
    margin-right: 400px;
   
}
.image img{
    width: 90%;

}
.bside .comment{
    width: 30%;
    height: 450px;
   float: right;
   margin-top:110px ;
   margin-left: 220px;
  
}
.comment h2{
    color:#02646f ;
}
.bside .comment a{
    background-color: #4aaf52;
    padding: 0.8em 1.5em;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}
.text{
    clear: both;
    width: 80%;
    height: 150px;
    text-align: center;
    margin: 5px auto;
   
}
.text h1{
    width: 40%;
margin: 5px auto;
font-weight: bold;
font-size: 35px

}
.text a{
 width: 40%; 
margin: 5px auto;

padding-right: 40px;

font-size: 20px;
color: black;
text-decoration: none;


}
.three{
    width: 80%;
    height: 250px;
   
    text-align: justify;
    margin: 5px auto;
    
}
.three >div{
    float: right;
}
.ia {
width: 15%;
height: 150px;
margin: 0.75%

}

.fa-film{
    
    font-size: 2em;
  color: #02646f;
        
 padding: 3em;
 }
.a {
width: 15%;
height: 100px;
margin: 0.75%;


}
.a h2{
    font-size: 20px;
}

.ib {
   
width: 15%;
height: 150px;
margin: 0.75%;

}
.fa-user-tie{
font-size: 2em;
    color: #02646f;
    
    padding: 3em;
}
.b{

width: 15%;
height: 100px;
margin: 0.75%;

}
.b h2{
    font-size: 20px;
}
 .ic {

    width: 15%;
    height: 150px;
    margin: 0.75%;
    
    
}
.fa-hourglass-half{
    color: #02646f;
    font-size: 2em;
    padding: 3em;
}
.c {

width: 15%;
height: 100px;
margin: 0.75%;

}
.c h2{
    font-size: 20px;
}

.titr{
    width: 60%;
    clear: both;
    text-align: center;
    margin: 10px auto;
    
}
.titr p{
    text-align: justify;
}
.kazemi{
    width: 80%;
    height: 500px;
    
    text-align: justify;
    margin: 30px auto;
}
.kazemi >section{
    float: right;
}
.kazemi .ka{
    width: 50%;
    height: 400px;
}
.kazemi .ka img{
    width: 100%;
    height: 500px;

}
.kazemi .mi h2{
    color:#02646f ;
    font-size: 17px;
}
.kazemi .mi a{
    text-decoration: none;
    color: white;
    background-color: #4aaf52;
    padding: 0.8em 2.6em;
    border-radius: 30px;
}
footer{
    width: 100%;
    height: 400px;
    color: white;
    background-image: url(../image/math-a.jpg);
    background-position:center top;
    
}
footer a{
    color: white;
}
footer nav li{
    list-style: none;
}
footer .first>div{
    float: right;
}
.first .pic{
width: 22%;
margin: 1.5%;
}

   

.first .link{
width: 22%;
margin: 1.5%;
}
.first .group{
width: 22%;
margin: 1.5%;
}
.first .num{
width: 22%;
margin: 1.5%;
}
footer .end{
    clear: both;
    width: 100%;
    border-top: 1px solid white;
    position: relative;
    
}
.end >div{
    float: right;
}
.aa{
position: absolute;
}
.bb{
position: absolute;
left: 80px;
top: 10px;
}
.aa a{
    color:#e4a428; ;
}
